VAULT_CACERT=/etc/vault/certs/vault-selfsigned.crt
VAULT_ADDR='https://vault:8200/'

# Database
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=transcendence_db
POSTGRES_URL=postgres://myuser:mypassword@postgres:5432/transcendence_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# App
PORT=3000

# Cache
REDIS_PASSWORD=mypasswordcache
REDIS_URL=redis://:mypasswordcache@redis:6379