POSTGRES_URL=postgres://myuser:mypassword@localhost:5433/transcendence_db
REDIS_URL=redis://:mypasswordcache@localhost:6380
# FIXME: store JWT_SECRET (base64 32 bytes) in Vault then inject it as env var at runtime
JWT_ACCESS_TOKEN_SECRET=E1W+fc1yLSN7M+RdcdbiNRbgwXn/NZ0OkJsoQPrqf6E=
JWT_REFRESH_TOKEN_SECRET=3FrUm5oPhcPgPo0muH3P3IXPmGbgWpg0TeVGxyqaAgI=

JWT_ACCESS_TOKEN_EXPIRATION_MS=900000 # 15 minutes
JWT_REFRESH_TOKEN_EXPIRATION_MS=604800000 # 7 days

NODE_ENV=production