#POSTGRES_USER=
#POSTGRES_PASSWORD=
POSTGRES_DB=
#POSTGRES_URL=
POSTGRES_HOST=
POSTGRES_PORT=

#REDIS_URL=

VAULT_CACERT=
VAULT_ADDR=

#JWT_ACCESS_TOKEN_SECRET=
#JWT_REFRESH_TOKEN_SECRET=

JWT_ACCESS_TOKEN_EXPIRATION_MS=
JWT_REFRESH_TOKEN_EXPIRATION_MS=

NODE_ENV=

#GOOGLE_AUTH_CLIENT_ID=
#GOOGLE_AUTH_CLIENT_SECRET=
GOOGLE_AUTH_REDIRECT_URI=

AUTH_UI_REDIRECT=

BCRYPT_SALT_ROUNDS=
