@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

.glass-container {
    @apply flex flex-col
        w-full 
        bg-violet-400/5 backdrop-blur-sm border border-violet-400/5
        rounded-2xl shadow-xl
        p-8
       text-white
}

.form-container {
    @apply flex flex-col gap-4 m-2 text-xl
}

.label-style {
    @apply tracking-wide text-sm font-medium
}

.title-style {
    @apply text-lg sm:text-2xl tracking-widest font-medium mt-2 mb-8
}

.input-style {
    @apply w-full rounded-sm p-2 text-black
}

.button {
    @apply rounded-lg p-3 bg-violet-600 mt-4 mb-4 hover:bg-violet-500
}

.disabled-button {
    @apply rounded-lg p-3 bg-violet-300 mt-4 mb-4 cursor-not-allowed
}

.global-hover {
    @apply p-2 border border-transparent rounded-md
           hover:text-violet-400
           hover:border-violet-400
           transition-all duration-200;
}

.warning-hover {
    @apply p-2 border border-transparent rounded-md
           hover:text-red-500
           hover:border-red-500
           transition-all duration-200;
}

.error-style {
    @apply text-sm text-red-500
}

.grid-style {
    @apply bg-black/5 backdrop-blur-sm border border-black/5 rounded-2xl shadow-xl p-4
            hover:border-[#141301]
}

.stat-style {
    @apply flex flex-col items-center justify-between border border-violet-300 rounded-lg w-fit p-3 hover:bg-violet-200
}