@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#DCE1E9] text-black dark:bg-zinc-900 dark:text-zinc-100 transition-colors duration-300;
  }
}

html,
body,
#root {
  height: 100%;
}

.glass-container {
  @apply flex flex-col
        w-full 
        bg-violet-400/5 dark:bg-yellow-400/5 backdrop-blur-sm border border-violet-400/5 dark:border-yellow-400/5
        rounded-2xl shadow-xl
        p-8
       text-white;
}

.form-container {
  @apply flex flex-col gap-4 m-2 text-xl;
}

.label-style {
  @apply tracking-wide text-sm font-medium;
}

.title-style {
  @apply text-lg sm:text-2xl tracking-widest font-medium mt-2 mb-8;
}

.input-style {
  @apply w-full rounded-sm p-2 text-black dark:text-zinc-100 bg-white dark:bg-zinc-900 border border-transparent dark:border-zinc-700;
}

.button {
  @apply rounded-lg p-3 bg-violet-600 dark:bg-yellow-600 mt-4 mb-4 hover:bg-violet-500 dark:hover:bg-yellow-500;
}

.disabled-button {
  @apply rounded-lg p-3 bg-violet-300 dark:bg-yellow-300 mt-4 mb-4 cursor-not-allowed;
}

.global-hover {
  @apply p-2 border border-transparent rounded-md
           hover:text-violet-400
           hover:border-violet-400
           dark:hover:text-yellow-400
           dark:hover:border-yellow-400
           transition-all duration-200;
}

.warning-hover {
  @apply p-2 border border-transparent rounded-md
           hover:text-red-500
           hover:border-red-500
           transition-all duration-200;
}

.error-style {
  @apply text-sm text-red-500;
}

.grid-style {
  @apply bg-black/5 dark:bg-zinc-900/60 backdrop-blur-sm border border-black/5 dark:border-zinc-700 rounded-2xl shadow-xl p-4
            hover:border-[#141301] dark:hover:border-zinc-500;
}

.stat-style {
  @apply flex flex-col items-center justify-between border border-violet-300 dark:border-yellow-700 rounded-lg w-fit p-2 hover:bg-violet-200 dark:hover:bg-yellow-900/30 text-sm;
}

.level-style {
  display: block;
  width: 100%;
  height: 100%;
  appearance: none;
}

.level-style::-webkit-progress-bar {
  background-color: rgba(255, 255, 255, 0.15);
}

.level-style::-webkit-progress-value {
  background-color: #8b5cf6;
}

.dark .level-style::-webkit-progress-value {
  background-color: oklch(55.4% 0.135 66.442);
}

.level-style::-moz-progress-bar {
  background-color: #8b5cf6;
}

.dark .level-style::-moz-progress-bar {
  background-color: oklch(55.4% 0.135 66.442);
}
